* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;

  cursor:
    url("https://cdn.cursors-4u.net/previews/pawing-cat-0e49294c-32.webp") 32 32,
    auto !important;
}

body {
  height: 100dvh;
  /* background: #5c33b5;
  background: radial-gradient(
    circle,
    rgba(92, 51, 181, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); */

  
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../public/planets.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

